@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require validationEngine.jquery.css
 *= require_tree .
 *= require_self
 */
 /* header */

 #logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 12px;
   font-weight: bold;
   line-height: 1;
 }
 #logo:hover {
   color: #fff;
   text-decoration: none;
 }
 /* header_login_ago */

 #logo_ago {
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 12px;
   font-weight: bold;
   line-height: 1;
 }
 #logo:hover {
   color: #fff;
   text-decoration: none;
 }
.navbar-nav_center{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}
.login_panel {
  margin:60px 0px 0px 0px;
}
/* user_show */
.user_img {
  margin:0px 0px 20px 0px;
}
.user_delete {
  margin:20px 0px 0px 0px;
}
/* home  */
.homu_up {
  margin:40px 0px 0px 0px;
}
 /* forms */
 #error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
  margin-bottom: 0;
}
/* tweets */
.tweet_form {
  margin: 20px 0px 10px 0px;
}
h3#tweets {
  margin: 20px 10px 10px 40px;
}
.tweets {
    list-style: none;
    margin: 10px 0 0 0;

    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
}
.content {
    display: block;
    word-wrap: break-word;
}
.timestamp {
    color: $gray-light;
}
/* user_search */
.user_search_form {
  margin: 60px 10px 10px 40px;
}
.search_field {
  margin:0px 0px 10px 0px
}
/* user_show */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}
.user_paging {
  margin: 20px 10px 10px 40px;
}
.users_search_list {
  width:680px;
}
#follow_form {
  text-align: right;
}
.user_info {
  padding: 0px 0px 0px 10px;
}
/* sidebar */
.follow_count {
  margin:60px 10px 10px 10px;
  width:290px;
}
.user_seacrh_sidebar {
  width:290px;
}
.user_seacrh_sidebar_well {
  width:290px;
  margin:0px 0px 0px 10px;
}

.user_search_link {
  margin:10px 0px 0px 0px;
}
.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
