<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
     <div class="row">
       <div class="col-md-3">
         <nav>
           <ul class="nav navbar-nav navbar-left">
             <li><%= link_to "ホーム",    root_path %></li>
           </ul>
         </nav>
       </div>
       <div class="col-md-6">
         <ul class="nav  navbar-nav_center">
           <li><%= link_to "いまどうしてる?", '#', id: "logo_ago" %></li>
         </ul>
       </div>
       <div class="col-md-3">
         <ul class="nav navbar-nav navbar-right">
           <li><%= link_to "アカウント作成",    new_registration_path(resource_name)
           %></li>
           <li><%= link_to "ログイン", new_session_path(resource_name)
            %></li>
         </ul>
       </div>
     </div>

   </div>
 </header>
